[build]
target = "x86_64-rint.json"

[target."x86_64-rint.json"]
rustflags = [
  # 关键：脚本路径相对于 kernel 包根目录
  "-Clink-arg=-Tld/link.ld",
  # 建议：静态重定位，避免产生不适合内核的绝对寻址/PLT
  "-C", "relocation-model=static",
  "-C", "no-redzone=yes",
]


[unstable]
build-std = ["core", "compiler_builtins", "alloc"]
build-std-features = ["compiler-builtins-mem"]